<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="author" content="Brian J. Hollingsworth">
  <meta name="description" content="I'm Brian Hollingsworth, a .NET applications developer by trade and a freelance by nature.">

  <link rel="apple-touch-icon" sizes="57x57" href="images/Icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/Icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/Icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/Icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/Icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/Icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/Icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/Icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/Icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/Icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/Icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/Icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/Icons/favicon-16x16.png">
  <link rel="manifest" href="images/Icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/Icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>Brian J. Hollingsworth</title>

  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animation.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/overlay.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>

<script>
  // Whenever the page is reloaded, animate the signature.
  $(document).ready(function() {

    if (window.innerWidth <= 767) {
      $("#mobile-navbar").show();
    } else {
      $("#mobile-navbar").hide();
    }

    $('#sidebar').affix({
      offset: {
        top: $('.navbar-default').height()
      }
    });

    document.getElementById('signature-animated').src = 'images/Signature_Animated.gif';

    var date = new Date();
    var dayOfTheWeek = date.getDay();
    dailyColorPalette(dayOfTheWeek);

    $('a[href^="#"]').on('click', function(e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 900, 'swing', function() {
        window.location.hash = target;
      });
    });
  });

  $(function() {
    var navMain = $(".navbar-collapse");
    navMain.on("click", "a:not([data-toggle])", null, function() {
      navMain.collapse('hide');
    });
  });

  // Whenever my resume is viewed on a mobile device, I only want the fixed
  // navigation bar to be displayed.
  $(window).resize(function() {
    if (window.innerWidth <= 767) {
      $("#mobile-navbar").show();
      $("#sidebar").hide();
    } else {
      $("#sidebar").show();
      $("#mobile-navbar").hide();
    }
  });
</script>

<body data-spy="scroll" data-target="#sidebar">
  <div id="mobile-navbar">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button id="navbar-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar top-bar"></span>
                      <span class="icon-bar middle-bar"></span>
                      <span class="icon-bar bottom-bar"></span>
                  </button>
                  <a class="navbar-left" href="#"><img id="brand-img" src="images/Signature_White.png"></a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#professional-experience">Experience</a></li>
                    <li><a href="#skillset">Skillset</a></li>
                    <li><a href="#about">About</a></li>
                  </ul>
                </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
    <!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#profile">Profile</a></li>
            <li><a href="#professional-experience">Experience</a></li>
            <li><a href="#skillset">Skillset</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
  </div>

  <div id="top" class="jumbotron">
    <div id="signature-container" class="container">
      <div class="row text-center">
        <img id="signature-animated" src="images/Signature_Animated.gif" class="signature">
        <div class="animated fadeInUp">
          <h1 class="hr">Brian J. Hollingsworth</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="well bs-sidebar affix">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#profile"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
      <li><a href="#professional-experience"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
      <li><a href="#skillset"><i class="fa fa-code" aria-hidden="true"></i></a></li>
      <li><a href="#about"><i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
      <!-- <li><a href="#contact"><i class="fa fa-id-card" aria-hidden="true"></i></a></li> -->
    </ul>
  </div>

  <div class="text-center background-material-profile">
    <div id="profile" class="container">
      Profile.
    </div>
    <img src="images/Profile.png" height="500px" style="right:0px">
  </div>

  <div class="text-center background-material-experience">
    <div id="professional-experience" class="container">
      Professional Experience.
      <div style="padding-bottom: 300px"></div>
    </div>
  </div>

  <div class="text-center background-material-skillset">
    <div id="skillset" class="container">
      Skillset.
      <div id="skillController" ng-app="resumeApp" ng-controller="skillController">
        <div class="row">
          <div class="col-sm-4">
            <ul ng-repeat="language in languages" style="list-style-type: none;padding-left:0;">
              <li>
                <div class="skill" style="margin:0 auto 0 auto;">
                  <span>
                     <div class="square"><img class="skill-icon" src={{language.Icon}}></div>
                     <span ng-repeat="i in getProficiency(language.Proficiency) track by $index"><i class="fa fa-star" style="font-size: 1.1em;" aria-hidden="true"></i></span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul ng-repeat="tool in tools" style="list-style-type: none;padding-left:0;">
              <li>
                <div class="skill" style="margin:0 auto 10px auto;">
                  <span>
                     <div class="square"><img class="skill-icon" src={{tool.Icon}}></div>
                     <span ng-repeat="i in getProficiency(tool.Proficiency) track by $index"><i class="fa fa-star" style="font-size: 1.1em;" aria-hidden="true"></i></span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul ng-repeat="environment in environments" style="list-style-type: none;padding-left:0;">
              <li>
                <div class="skill" style="margin:0 auto 10px auto;">
                  <span>
                     <div class="square"><img class="skill-icon" src={{environment.Icon}}></div>
                     <span ng-repeat="i in getProficiency(environment.Proficiency) track by $index"><i class="fa fa-star" style="font-size: 1.1em;" aria-hidden="true"></i></span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center background-material-about">
    <section id="about" class='container'>

      <h2>About brian.hollingsworth.codes</h2>

      <div style="max-width:800px;margin:auto;overflow:auto;">
        <p style="font-size:16px;padding-top: 1.5em">
          I decided to make this site for a number of reasons, but it mostly boiled down to this: I got bored of LinkedIn. I knew nothing would make me more homogeneous than flaunting my profile on the same platform as every other developer out there. Thus, out
          of that irritancy, brian.hollingsworth.codes was born!
        </p>
      </div>
      <!-- </section> -->

      <div class="row" style="padding-top: 2em">
        <div class="mean-flex-box" style="display:flex">
          <div style="flex:1;padding-left:5px;">
            <a href="https://www.mongodb.com/" target="_blank"><img src="images/MongoDB.png"></a>
          </div>
          <div style="flex:1;padding-left:5px;">
            <a href="https://expressjs.com/" target="_blank"><img src="images/Express.png"></a>
          </div>
          <div style="flex:1;padding-left:5px;">
            <a href="https://angular.io/" target="_blank"><img src="images/Angular.png"></a>
          </div>
          <div style="flex:1;padding-left:5px;">
            <a href="https://nodejs.org/en/" target="_blank"><img src="images/Nodejs.png"></a>
          </div>
        </div>
      </div>

      <div style="max-width:800px;margin:auto;overflow:auto;">
        <p style="font-size:16px;padding-top: 2em">
          This is a MEAN stack application on built on top of Red Hat's incredible OpenShift container platform. All of my code is open source, so feel free to look under the hood of my "resume" and fork it if you want!
        </p>
      </div>

      <div class="row" style="padding-top: 2em">
        <a href="https://github.com/brianHollingsworth/brian.hollingsworth.codes" target="_blank" class="btn btn-primary btn-md">View Source Code on GitHub</a>
      </div>
    </section>
  </div>

  <div class="background-material-contact" style="text-align:center">
    <div style="display:flex">
      <div class="social-link" style="flex:1;padding-right:5px;">
        <a target="_blank" href="https://github.com/brianHollingsworth"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="social-link" style="flex:1;padding-left:5px;">
        <a target="_blank" href="https://www.linkedin.com/in/brianjhollingsworth/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="social-link" style="flex:1;padding-left:5px;">
        <a target="_blank" href="https://twitter.com/Kobe_Brian"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="social-link" style="flex:1;padding-left:5px;">
        <a target="_blank" href="https://www.instagram.com/brianhollingsworth/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="social-link" style="flex:1;padding-left:5px;">
        <a data-toggle="modal" data-target="#snapcodeModal"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- <div class="social-wrapper">
      <nav class="social-nav">
        <a target="_blank" href="https://github.com/brianHollingsworth"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/brianjhollingsworth/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/Kobe_Brian"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.instagram.com/brianhollingsworth/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a data-toggle="modal" data-target="#snapcodeModal"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
      </nav>
    </div> -->
  </div>

  <div class="modal fade" id="snapcodeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <img id="snapcode" src="images/Snapcode.png" width="420px" style="display:block;margin:auto;">
  </div>

</body>

<script>
  var app = angular.module('resumeApp', []);

app.controller('skillController', ['$scope', '$http', function ($scope, $http) {

  $scope.languages = [{
    "Name": "C++",
    "Proficiency": 5,
    "Icon": "images/Language_Icons/C++.png"
  }, {
    "Name": "Java",
    "Proficiency": 5,
    "Icon": "images/Language_Icons/Java.png"
  }, {
    "Name": "C#",
    "Proficiency": 5,
    "Icon": "images/Language_Icons/CSharp.png"
  }, {
    "Name": "Perl",
    "Proficiency": 4,
    "Icon": "images/Language_Icons/Perl.png"
  }, {
    "Name": "HTML",
    "Proficiency": 4,
    "Icon": "images/Language_Icons/HTML.png"
  }, {
    "Name": "CSS",
    "Proficiency": 4,
    "Icon": "images/Language_Icons/CSS.png"
  }, {
    "Name": "JavaScript",
    "Proficiency": 4,
    "Icon": "images/Language_Icons/JavaScript.png"
  }, {
    "Name": "Node.js",
    "Proficiency": 4,
    "Icon": "images/Language_Icons/Nodejs.png"
  }, {
    "Name": "Python",
    "Proficiency": 3,
    "Icon": "images/Language_Icons/Python.png"
  }, {
    "Name": "jQuery",
    "Proficiency": 3,
    "Icon": "images/Language_Icons/jQuery.png"
  }]

  $scope.tools = [{
    "Name": "Visual Studio",
    "Proficiency": 4,
    "Icon": "images/Tool_Icons/Visual_Studio.png"
  }, {
    "Name": "Visual Studio Code",
    "Proficiency": 4,
    "Icon": "images/Tool_Icons/Visual_Studio_Code.png"
  }, {
    "Name": "Git",
    "Proficiency": 4,
    "Icon": "images/Tool_Icons/Git.png"
  }, {
    "Name": "SQL Server",
    "Proficiency": 3,
    "Icon": "images/Tool_Icons/SQL_Server.png"
  }, {
    "Name": "OpenShift",
    "Proficiency": 3,
    "Icon": "images/Tool_Icons/OpenShift.png"
  }, {
    "Name": "Xcode",
    "Proficiency": 3,
    "Icon": "images/Tool_Icons/Xcode.png"
  }, {
    "Name": "JBoss",
    "Proficiency": 3,
    "Icon": "images/Tool_Icons/JBoss.png"
  }, {
    "Name": "Toad for Oracle",
    "Proficiency": 3,
    "Icon": "images/Tool_Icons/Toad_for_Oracle.png"
  }]

  $scope.environments = [{
    "Name": "macOS",
    "Proficiency": 5,
    "Icon": "images/Environment_Icons/macOS.png"
  }, {
    "Name": "Windows",
    "Proficiency": 5,
    "Icon": "images/Environment_Icons/Windows_7.png"
  }, {
    "Name": "Windows Server 2012",
    "Proficiency": 4,
    "Icon": "images/Environment_Icons/Windows_Server_2012.png"
  }, {
    "Name": "Red Hat",
    "Proficiency": 4,
    "Icon": "images/Environment_Icons/Red_Hat.png"
  }, {
    "Name": "SUSE Linux",
    "Proficiency": 2,
    "Icon": "images/Environment_Icons/SUSE_Linux.png"
  }, {
    "Name": "Ubuntu",
    "Proficiency": 2,
    "Icon": "images/Environment_Icons/Ubuntu.png"
  }]

  $scope.getProficiency = function (proficiency) {
    return new Array(proficiency);
  }
}]);
</script>

<!-- <script>
  var app = angular.module('resumeApp', []);

  app.controller('toolController', function($scope) {


    $scope.getProficiency = function(proficiency) {
      return new Array(proficiency);
    }
  });
</script> -->

</html>