figure.effect {
  background: #22A39F;
  color: #FFF;
}

figure.effect img {
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect:hover img {
  opacity: 0.2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect figcaption {
  text-align: left;
}

figure.effect h3 {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
  opacity: 1;
}

figure.effect h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

figure.effect:hover h3::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect p {
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

figure.effect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#signature-container {
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#mobile-navbar nav {
  background-color: #000;
  border-color: #000;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

#mobile-navbar {
  display: none;
}

.navbar-header {
  width: 100%;
}

#navbar-button {
  border-color: #000;
  margin-left: 5px;
}

#bs-example-navbar-collapse-1 {
  border-color: #000;
}

#bs-example-navbar-collapse-1 a {
  color: #F2F2F2;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #BFBFBF;
}

#brand-img {
  position: relative;
  padding-left: 0.3125rem;
  max-height: 3em;
  min-height: 3em;
}

.bs-sidebar.affix {
  top: 25px;
}

.fa-github:hover {
  color: #000;
}

.fa-linkedin:hover {
  color: #FFF;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #C52C83;
}

.fa-snapchat-ghost:hover {
  color: #FFFC00;
}

div.social-wrapper {
  width: inherit;
  margin: 0 auto;
  background-color: transparent;
}

nav.social-nav {
  display: block;
  overflow: auto;
}

nav.social-nav a i {
  float: left;
  text-align: center;
  width: 20%;
}

#social-links li {
  /* -webkit-transform: scale(1.2); /* Saf3.1+, Chrome */
  /*-moz-transform: scale(1.2); /* FF3.5+ */
  /*-ms-transform: scale(1.2); /* IE9 */
  /*-o-transform: scale(1.2); /* Opera 10.5+ */
  /*transform: scale(1.2);*/
  /* IE6–IE9 */
  /*filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');*/
  display: inline-block;
  vertical-align: middle;
  font-size: 5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}