html,
body {
  color: #434242;
  font-family: 'Open Sans', sans-serif !important;
  height: 100%;
}

body {
  background: #F3EFE0;
  font-size: 1rem;
  line-height: 1.64;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
strong,
b {
  font-family: 'Roboto', sans-serif !important;
  margin-bottom: 1.25rem;
}

h1,
h4 {
  font-weight: 700;
  margin-bottom: 0.625rem;
}

h2,
h3 {
  font-weight: 300;
  color: #22A39F;
}

h2 {
  font-size: 3.375rem;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
}

/* .hr {
  margin-bottom: 3rem;
  display: inline-block;
} */

.hr:before {
  align-self: auto;
  content: '';
  display: block;
  border-top: 1px solid black;
  margin-top: -4.688rem;
}

p.lead {
  text-align: center;
  color: #727878;
}

p.lead a {
  color: #FFFFFF;
  text-decoration: underline;
}

p.lead a:hover {
  text-decoration: none;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

hr {
  margin: 2.5rem 0rem;
  border-color: #727878;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.btn-primary {
  background-color: #22A39F;
  border-color: #1c8784;
}

.btn-primary:hover {
  background-color: #1c8784;
  border-color: #1c8784;
}

.icon {
  display: inline-block;
  background: url(images/sm_icon_sprite.png) no-repeat;
  height: 2rem;
  width: 2rem;
}

.icon.icon-twitter {
  background-position: 0rem 0rem;
}

.icon.icon-linkedin {
  background-position: 0rem -2rem;
}

.icon.icon-skype {
  background-position: 0rem -4rem;
}

.icon.icon-email {
  background-position: 0rem -6rem;
}

.jumbotron {
  height: 100vh;
  background: no-repeat center right fixed url(images/background.jpg);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
  margin-bottom: 0rem;
  padding: 0rem;
}

.jumbotron .overlay {
  background-color: #FFFFFF;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 2;
}

.jumbotron .container {
  position: relative;
  top: 28%;
  z-index: 4;
  text-align: center;
}

#sticky-profile {
  background: #EF861B;
  color: #424242;
}

#sticky-profile a i {
  color: #424242;
}

#profile {
  display: flex;
  padding-bottom: 0rem;
}

.background-material-profile {
  background: #EF861B;
}

.profile-pic {
  padding-left: 6.25rem;
  height: 34.38rem;
  margin-right: 1em;
  right: 0rem;
  -webkit-filter: drop-shadow(0.25rem 0.25rem 0.25rem #424242 );
  filter: drop-shadow(0.25rem 0.25rem 0.25rem #424242);
}

.profile-text {
  padding: 1em;
  max-width: 34.38rem;
  margin: auto;
  overflow: auto;
  flex-grow: 1;
}

#profile-div p {
  color: #424242;
}

#sticky-experience {
  background: #F6BD16;
  color: #424242;
}

#sticky-experience a i {
  color: #424242;
}

.background-material-experience {
  background: #F6BD16;
  color: #424242;
}

.experience-text {
  padding: 1em;
  max-width: 34.38rem;
  margin: auto;
  overflow: auto;
}

#sticky-skillset {
  background: #F9D61A;
  color: #424242;
}

#sticky-skillset a i {
  color: #424242;
}

.background-material-skillset {
  background: #F9D61A;
  color: #424242;
}

.background-material-skillset a, .background-material-skillset p {
  color: #424242;
}

.skillset-text {
  padding: 1em;
  max-width: 34.38rem;
  margin: auto;
  overflow: auto;
}

#sticky-about {
  background: #9C9C9C;
  color: #424242;
}

#sticky-about a i {
  color: #424242;
}

.background-material-about {
  background: #9C9C9C;
}

.background-material-about p {
  color: #424242;
}

#github-repo-button {
  background-color: #337AB7;
  margin: 0 auto;
}

.background-material-contact {
  background: #BCBCBC;
}

.fa-github, .fa-linkedin, .fa-twitter, .fa-instagram, .fa-snapchat-ghost {
  color: #337AB7;
}

.jumbotron .container>* {
  text-align: center;
  color: #000000;
}

.jumbotron .container h1 {
  font-size: 4rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #FFFFFF;
  border-bottom-color: rgba(255, 255, 255, 0.35);
  display: inline-block;
}

.jumbotron .container .lead {
  font-size: 1.75rem;
}

.jumbotron .scroll-down {
  height: 5rem;
  width: 6.875rem;
  display: block;
  position: absolute;
  bottom: 0rem;
  right: 5%;
  background-color: #222222;
  text-align: center;
  z-index: 6;
}

.jumbotron .scroll-down .glyphicon {
  color: #FFFFFF;
  font-size: 1.875rem;
  padding-right: 0.125rem;
  padding-top: 1.25rem;
  animation-name: wiggle;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.jumbotron .scroll-down:hover .glyphicon {
  padding-top: 1.563rem;
}

.background-white {
  background: #FFFFFF;
}

.container {
  max-width: 80rem;
  padding: 2.5rem 11.25rem;
}

div.mean-flex-box div img {
  width: 70%;
}

#profile .row>div {
  margin-bottom: 1.25rem;
}

#profile .row>div img {
  width: 100%;
  max-width: 15.38rem;
  height: auto;
}

#professional-experience .experience {
  margin-bottom: 1.25rem;
}

#professional-experience .experience p>strong {
  display: block;
  padding-top: 0.5rem;
  margin-bottom: 0.625rem;
}

#professional-experience .experience .experience-details {
  display: block;
  margin-top: 0.375rem;
}

#professional-experience .experience .experience-details * {
  color: #22A39F;
}

#professional-experience .experience .experience-details .seperator {
  color: #BCBCBC;
}

div.skill {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin: 1.25rem auto 1.25rem auto;
  text-align: justify;
  border: 2px;
  background-color: rgba(255, 255, 255, 0.45);
  background-position: 0.5rem 0.6875rem;
  border-radius: 0.5rem;
}

div.skill span {
  display: inline-block;
  padding-bottom: 0.125rem;
  font-size: 0.9375rem;
  line-height: 1.3em;
  color: #5C5C5C;
}

img.skill-icon {
  max-width: 100%;
  max-height: 100%;
}

.square {
  display: inline-block;
  margin-right: 0.5em;
  height: 4em;
  width: 4em;
}

div.job {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin: 1.25rem auto 1.25rem auto;
  text-align: justify;
  border: 0.125rem;
  background-color: rgba(255, 255, 255, 0.35);
  background-position: 0.5rem 0.6875rem;
  border-radius: 0.5rem;
}

div.job span {
  display: inline-block;
  padding-bottom: 0.125rem;
  font-size: 0.9375rem;
  line-height: 1.3em;
  color: #5C5C5C;
}

img.job-icon {
  max-width: 100%;
  max-height: 100%;
}

.job-square {
  height: 5em;
  width: 5em;
}

.job-description {
  height: 7.5rem;
  width: 100%;
  overflow-y: auto;
  /*
         Gmail/Google Reader Sidebar Scroll Shadows
         -------------------------------------------
         Neat effect that mimics the scroll shadows that appear in the Google side bar and visually cues users to scroll up or down depending on their position.
         Credit goes to Lea Verou for this awesome find.
         Source:
         Lea's Talk: http://www.youtube.com/watch?v=3ikye7Qc7Ak
         Code Source: http://lea.verou.me/more-css-secrets/#slide9

         */
  /* Brian's notes: Use these values to see which value does what.
     1.) linear-gradient(yellow 30%, hsla(0, 0%, 100%, 0)): This is the very top of the description that disappears when you scroll down. 
     2.) linear-gradient(hsla(0, 0%, 100%, 0) 10px, green 70%) bottom: This is the very bottom of the description that disappears when you scroll up. 
     3.) radial-gradient(at top, rgba(255, 0, 0, 1.0), transparent 70%): This is the round gradient that hangs off the top of the scrollable area.
     4.) radial-gradient(at bottom, rgba(0, 0, 255, 1.0), transparent 70%) bottom: This is the round gradient that hangs off the bottom of the scrollable area. 
  */
  /* background: linear-gradient(white 30%, hsla(0, 0%, 100%, 0)), linear-gradient(hsla(0, 0%, 100%, 0) 10px, white 70%) bottom, radial-gradient(at top, rgba(0, 0, 0, 0.2), transparent 70%), radial-gradient(at bottom, rgba(0, 0, 0, 0.2), transparent 70%) bottom;  */
  background-repeat: no-repeat;
  background-size: 100% 1.25rem, 100% 1.25rem, 100% 0.625rem, 100% 0.625rem;
  background-attachment: local, local, scroll, scroll;
}

@media (max-width: 75rem) {
  .profile-pic {
    padding-left: 6.25rem;
  }

  .jumbotron .container h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 47.94rem) {
  .jumbotron:before {
    bottom: 6.25rem;
    left: 1.25rem;
    right: 1.25rem;
    top: 1.25rem;
  }
  .jumbotron .container {
    top: 20%;
    padding-top: 0rem;
  }
  .jumbotron .container h1 {
    font-size: 3rem;
  }
  .jumbotron .scroll-down {
    width: 100%;
    right: 0rem;
  }
  .navbar {
    left: 0rem;
    width: 100%;
  }
  .navbar .nav>li {
    height: 3.75rem;
  }
  .navbar .nav>li a {
    height: 3.75rem;
    text-align: center;
    padding-top: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
  }
  .fixed .navbar {
    top: 0rem;
  }
  .container {
    padding: 3.75rem 1.25rem;
    min-width: 17.5rem;
  }
  #sidebar {
    display: none;
  }
  #mobile-navbar {
    display: inline-block;
  }
  #profile .row * {
    text-align: center;
  }
  #professional-experience .experience .experience-details>span {
    display: block;
    margin-bottom: 0.375rem;
  }
  #professional-experience .experience .experience-details .seperator {
    display: none;
  }
  #contact {
    padding-bottom: 3.75rem;
  }
  #contact a .icon {
    float: left;
    margin-right: 0.625rem;
  }
}

@media only screen and (min-device-width: 25.88rem) and (max-device-width: 46rem) and (orientation: portrait) {
  /* Display mobile-navbar on high-res mobile devices like my iPhone 7 Plus. */
  /* #sidebar {
    display: none;
  }
  #mobile-navbar {
    display: inline-block;
  } */
  .jumbotron .container h1 {
    font-size: 1.75rem;
  }
}

@media only screen and (orientation: portrait) and (max-width: 47.94rem) {
  .jumbotron {
    -webkit-background-size: auto 150%;
    background-attachment: scroll;
  }
  .signature {
    width: 23%;
    margin: 0 auto;
    display: block;
  }
  .jumbotron .container h1 {
    font-size: 2.75rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 47.94rem) {
  .jumbotron {
    -webkit-background-size: 150% auto;
    background-attachment: scroll;
  }
  .jumbotron .lead {
    display: none;
  }
  .signature {
    width: 23%;
    margin: auto;
    display: block;
  }

  .jumbotron .container h1 {
    font-size: 2rem;
  }
}


/* Large desktops and laptops */

@media (min-width: 75rem) {
  .hr:before {
    align-self: auto;
    content: '';
    display: block;
    border-top: 0.0625rem solid black;
    margin-top: -3.125rem;
  }
  #skillController {
    padding: 0rem 4.688rem;
  }
  div.social-link a i {
    font-size: 5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  #snapcode {
    width: 30vw;
  }
}


/* Landscape tablets and medium desktops */

@media (min-width: 62rem) and (max-width: 74.94rem) {
  .hr:before {
    align-self: auto;
    content: '';
    display: block;
    border-top: 0.0625rem solid black;
    margin-top: -2.813rem;
  }

  #jobController {
    padding: 0rem 5.313rem;
  }

  #skillController {
    padding: 0rem 5.313rem;
  }
  div.social-link a i {
    font-size: 5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  #snapcode {
    width: 30vw;
  }
}


/* Portrait tablets and small desktops */

@media (min-width: 48rem) and (max-width: 61.94rem) {
  .hr:before {
    align-self: auto;
    content: '';
    display: block;
    border-top: 0.0625rem solid black;
    margin-top: -35px;
  }

  #jobController {
    padding: 0rem 5.313rem;
  }
  #skillController {
    padding: 0rem 4.688rem;
  }

  div.col-sm-4 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .square {
    margin-right: 0.25em;
  }
  div.social-link a i {
    font-size: 4em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  #snapcode {
    width: 40vw;
  }
}


/* Landscape phones and portrait tablets */

@media (max-width: 47.94rem) {
  .hr:before {
    align-self: auto;
    content: '';
    display: block;
    border-top: 0.0625rem solid black;
    margin-top: -1.563rem;
  }
  .jumbotron .container h1 {
    font-size: 2.5rem;
  }

  #profile {
    display: inline;
  }
  .profile-pic {
    padding-top: 2.5em;
    padding-left: 1em;
    height: 250px;
  }
  div.social-link a i {
    font-size: 3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  #snapcode {
    width: 30vw;
  }
}


/* Portrait phones and smaller */

@media (max-width: 30rem) {
  .hr:before {
    align-self: auto;
    content: '';
    display: block;
    border-top: 1px solid black;
    margin-top: -0.9375rem;
  }

  .jumbotron .container h1 {
    font-size: 1.5rem;
  }
  #profile {
    display: block;
  }

  .profile-pic {
    padding-top: 0em;
  }

  .job-square {
    height: 4em;
    width: 4em;
  }
  #job-role, #job-company, #job-tenure {
    font-size: 9pt;
  }
  div.social-link a i {
    font-size: 3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  #snapcode {
    width: 50vw;
  }
}

@keyframes wiggle {
  0% {
    padding-top: 20px;
  }
  50% {
    padding-top: 28px;
  }
  100% {
    padding-top: 20px;
  }
}


/*---------------*/


/***** EFFECT *****/


/*---------------*/

figure.effect {
  background: #22A39F;
  color: #FFF;
}

figure.effect img {
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect:hover img {
  opacity: 0.2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect figcaption {
  text-align: left;
}

figure.effect h3 {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
  opacity: 1;
}

figure.effect h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

figure.effect:hover h3::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect p {
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

figure.effect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.signature {
  width: 23%;
  margin: auto;
  padding-bottom: -5rem;
  display: block;
}

#signature-container {
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#mobile-navbar nav {
  background-color: #000;
  border-color: #000;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

#mobile-navbar {
  display: none;
}

#navbar-button {
  border-color: #000;
}

#bs-example-navbar-collapse-1 {
  border-color: #000;
}

#bs-example-navbar-collapse-1 a {
  color: #F2F2F2;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #BFBFBF;
}

#brand-img {
  position: relative;
  padding-top: 0.3125rem;
  padding-left: 0.3125rem;
  max-height: 3em;
  min-height: 3em;
}

.bs-sidebar.affix {
  top: 25px;
}

.fa-github:hover {
  color: #000;
}

.fa-linkedin:hover {
  color: #FFF;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #C52C83;
}

.fa-snapchat-ghost:hover {
  color: #FFFC00;
}

div.social-wrapper {
  width: inherit;
  margin: 0 auto;
  background-color: transparent;
}

nav.social-nav {
  display: block;
  overflow: auto;
}

nav.social-nav a i {
  float: left;
  text-align: center;
  width: 20%;
}

#social-links li {
  /* -webkit-transform: scale(1.2); /* Saf3.1+, Chrome */
  /*-moz-transform: scale(1.2); /* FF3.5+ */
  /*-ms-transform: scale(1.2); /* IE9 */
  /*-o-transform: scale(1.2); /* Opera 10.5+ */
  /*transform: scale(1.2);*/
  /* IE6–IE9 */
  /*filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');*/
  display: inline-block;
  vertical-align: middle;
  font-size: 5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
